<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        {{#if user}}
          <a href="/addEvent" class="nav-link">Create an Event</a>
        {{else}}
          <a href="#" class="nav-link modalBtn" data-action="create-event">Create an Event</a>
        {{/if}}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">View All Events</a>
      </li>
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>&nbsp;
      {{/if}}
    </ul>
  </div>
  <span class="navbar-text">
    {{#if user}}
      You are logged in as {{user.fullName}}
    {{/if}}
  </span>
</nav>