<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="nAEKop36E-Gtrx7IDfh0Ic6z5Vab4K1_NHb2oPZptmg" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
  <style>
    #map {
      height: 600px;
      width: 100%;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>

  <div class="jumbotron jumbotron-fluid" style="text-align:center;">
    <div class="container">
      <h1 class="display-4"
        style="margin-left: 300px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-shadow: 4px 4px black; color:rgb(107, 107, 107);">
        TrashTaggers!</h1>
    </div>
  </div>

  <hr>

  {{{body}}}



  <div class="modal" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Log In with Google</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary loginBtn" href="/auth/google?action=join&eventId=4">Log In</a>
        </div>
      </div>
    </div>
  </div>


  <footer>
    TrashTaggers&nbsp;&nbsp;&nbsp;
    <a class="" href="/">Home</a>
    <a class="" href="/auth/google">Login with Google</a>
    <a class="" href="/addEvent">Create Event</a>
  </footer>


  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTcz-O5jhNzvfOOZD2cHm_T7fjs6gvFc0&callback=initMap"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/trash.js"></script>
</body>
</html>