<div class="container">
  <br>
  <h3><strong>Add a #trashtag event!</strong></h3>
  <br>

  <!-- =============== FORM START  =============== -->

  <form id="addEvent">

    <!-- =============== TITLE ROW  =============== -->

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="eventTitle">Event Title</label>
        <input type="text" class="form-control" id="eventTitle" placeholder="Name your #trashtag event">
      </div>
    </div>

    <!-- =============== ORGANIZER ROW  =============== -->

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fullName">Name</label>
        <input type="text" class="form-control" id="fullName" placeholder="Enter your name">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
    </div>

    <!-- =============== ADDRESS ROWS  =============== -->

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="addrOne">Address</label>
        <input type="text" class="form-control" id="addrOne" placeholder="1234 Main St">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="addrTwo">Address 2</label>
        <input type="text" class="form-control" id="addrTwo" placeholder="Apartment, studio, or floor">
      </div>
    </div>

    <!-- =============== CITY STATE ZIP  =============== -->

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city">
      </div>

      <div class="form-group col-md-4">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state">
      </div>

      <div class="form-group col-md-2">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip">
      </div>
    </div>

    <!-- =============== EVENT REQUIREMENTS  =============== -->

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="eventDate">Date</label>
        <input type="date" class="form-control" id="eventDate">
      </div>

      <div class="form-group col-md-3">
        <label for="eventTime">Start Time</label>
        <input type="time" class="form-control" id="eventTime">
      </div>

      <div class="form-group col-md-6">
        <label for="byob">Will you provide bags?</label><br>
        <select class-"form-control" id="byob" required>
          <option value="false">Yes</option>
          <option value="true">No</option>
        </select>
      </div>
    </div>

    <!-- =============== EVENT DESCRIPTION  =============== -->

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="eventDesc">Describe your event</label>
        <textarea type="text" class="form-control" id="eventDesc"> </textarea>
      </div>
    </div>

    <!-- =============== BUTTON  =============== -->

    <div class="form-row">
      <button type="submit" id="addEvent" class="btn btn-primary">Add Event!</button>
    </div>

  </form> <!-- end form-->

</div> <!-- end Container-->