
<div class="container">
  <h3><strong>First we need some information about what you need to do: </strong></h3>
  <br>
  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Name</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Name of Group">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Organizer</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Your Name">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Email</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="example@gmail.com">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputCity">Date of Event</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-10">
        <label for="inputCity">Description or Special Needs</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <br><br>
  <hr>

  <div class="footer" id="buttonGroup" style="margin-top:10px;">
    <a href="form.html" style="margin-right: 2px;">Form a Group </a> |
    <a href="view.html" style="margin-right: 2px;"> Join a Group </a> |
    <a href="form.html"> Request a Clean-Up</a>
  </div>
  <br><br>

</div> <!-- end Container-->
=======

    <h3><strong>First we need some information about what you need to do: </strong></h3>

    <form id="addEvent">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group col-md-4">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="form-group col-md-4">
          <label for="eventTitle">Tile</label>
          <input type="text" class="form-control" id="eventTitle" placeholder="Name your #trashtag event">
        </div>
      </div>
      <div class="form-group">
        <label for="addrOne">Address</label>
        <input type="text" class="form-control" id="addrOne" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="addrTwo">Address 2</label>
        <input type="text" class="form-control" id="addrTwo" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city">
        </div>
        <div class="form-group col-md-4">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state">
        </div>
        <div class="form-group col-md-2">
          <label for="zip">Zip</label>
          <input type="text" class="form-control" id="zip">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="eventDate">Date of Event</label>
          <input type="date" class="form-control" id="eventDate">
        </div>
        <div class="form-group col-md-10">
          <label for="eventDesc">Describe your event</label>
          <textarea type="text" class="form-control" id="eventDesc"> </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Event!</button>
    </form>
