<div id="addEvent">
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">create-event</h5>
          {{user.fullName}}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
