<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>This is our Home Page!</h2>
        <a href="/">Home</a><br>
        <a href="/auth/google">Login with Google</a><br>
        <a href="/createEvent">Create Event</a><br>
        {{#if events}}
          {{#each events}}
            <p>{{eventTitle}}</p>
            <a href="#" data-id="{{eventId}}" class="joinBtn">Join</a>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>  

