
@import url('https://fonts.googleapis.com/css?family=Prompt');

/* header */

header {
  background-image: url('../images/header-bg.png');
  background-size: cover;
  height: 270px;
}
header .container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 250px;
}
header .bags {
  height: 172px;
  width: 284px;
}
header .flower {
  margin: 0 0 9px 5px;
  width: 42px;
}
header h1 {
  font-family: 'Prompt', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding-left: 50px;
}

h2, h3, h4 {
  font-family: 'Prompt', sans-serif;
  color: rgb(98, 160, 26);
}
h3 {
  color: #72BE1E;
}



/* index */
.btn.modalBtn {
  border-radius: 3px;
  background-color: #7ED320;
  color: white;
}


/* page-header */
.nav {
  margin-bottom: 35px;
}
.page-header {
  margin-bottom: 35px;
}


/* login */
.loginBtn {
  width: 210px;
  display: block;
  margin: 0 auto;
}
.loginBtn img {
  max-width: 100%; 
}

.current-events {
  margin-bottom: 50px;
}

.current-events .header {
  margin-bottom: 25px;
  color: #333;
  font-size: .8em;
  text-transform: uppercase;
}
.row.event {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  font-size: .8em;
}
.row.event h4 a{
  color: rgb(98, 160, 26);
}

/* footer */

footer {
  align-items: center;
  background-color: #C4EAFF;
  border-top: 8px solid #7ED320;
  display: flex;
  height: 100px;
  justify-content: center;
  margin-top: 100px;
}


#home #map {
  height: 650px;
  width: 100%;
}
#event #map {
  height: 400px;
  width: 400px;
}

.list-group-item {
  line-height: 2.5;
}

/*
.bigContainer {
  background-image: url("../images/background.jpg");
}

.jumbotron {
  background-image: url("../images/trash_background.jpg");
  background-size: 35%;
  background-repeat: no-repeat;
  background-color:#a7cdf2;
}

#tagTrashButton {
  border: 2px solid gray;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 1s;
}

#tagTrashButton:hover{
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; 
}

#howManyButton {
  border: 1px solid gray;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 1s;
}

#howManyButton:hover{
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; 
}

#buttonGroup {
  position: relative;
  bottom: 0;
  width: 100%;
}

#selectButton {
  border: 1px solid transparent;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 1s;
}

#selectButton:hover{
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; 
}

.btn {
  background-color: #a7cdf2;
  color: black;
  border: 1px solid #a7cdf2;
  box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: box-shadow 1s;
  margin-bottom: 10px;
}

.btn:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s; 
}
*/